<?xml version="1.0"?>

<launch>
  <master auto="start"/>
  <param name="/use_sim_time" value="false"/>

  <!-- Set up hardware -->
  <include file="$(find tas)/launch/hardware.launch" />

  <!-- Set up fake odomotry -->
  <include file="$(find tas)/launch/odom.launch" />

  <!-- Set up move base package-->
  <include file="$(find tas)/launch/move_base_s.launch" />

  <!-- <include file="/home/tas_group_10/catkin_ws/src/ira_laser_tools-master/launch/laserscan_multi_merger.launch" /> -->
<!--  <node name="col_avoid" pkg="tas_autonomous_control" type="col_avoid.py" /> -->
<!--  <node name="speed_adjust" pkg="tas_autonomous_control" type="speed_adjust.py" /> -->
<!--  <node name="simple_navigation_goals_node" pkg="simple_navigation_goals" type="simple_navigation_goals_node" /> -->
</launch>
